# Artefacts for compiling the code
/build/
/.pio/

# Artefacts for Visual Studio Code
/.vscode/

# Development artefacts
/.development

# PlatformIO specific README files
/include/README
/lib/README
/test/README
