# Artefacts for compiling the code
.pio/

# Artefacts for Visual Studio Code
.vscode/

# PlatformIO specific README files
src/platformio/include/README
src/platformio/test/README

# Template files for CRSF for Arduino
templates/

# Arduino IDE artefacts
.development

# Developer's notes
notes/
